# Visual Studio
.vs/

# Build results
[Bb]in/
[Oo]bj/

# .NET
*.user
*.suo
project.lock.json
project.fragment.lock.json
artifacts/

# FFLocker specific
locked_items.json
fflocker_db_error.log
settings.json
gitpush.txt
FFLockerOld/
